.border {
  border: solid 1px red !important;
}
.border1 {
  border: solid 1px black !important;
}
.bgwhite {
  background-color: white !important;
}

body {
  background-color: #fbfbfd !important;
}
.paddingreset {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.paddingy {
  padding: 20px 0;
}
.marginreset {
  margin: 0 0 !important;
}
.marginy {
  margin: 6px 0 !important;
}

.caroselFixH {
  height: 100px !important;
}
.App,
.App-header {
  /* text-align: center; */
  margin: 0 0;
  padding: 0 0;
}
.span-button {
  margin: 2px 0px;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
